.z-sidebar,
.z-sidebar * {
  box-sizing: border-box;
}
.z-sidebar {
  background: #d9d9d9;
  border-radius: 25px;
  padding: 74px 0px 74px 0px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  width: 272px;
  height: 900px;
  position: relative;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.sidebar {
  background: #f48409;
  border-radius: 25px;
  padding: 0px 10px 0px 10px;
  flex-shrink: 0;
  width: 251px;
  height: 900px;
  position: relative;
}
.swm-icon-pack-menuhamburger {
  width: 24px;
  height: 24px;
  position: absolute;
  left: 183px;
  top: 38px;
  overflow: hidden;
}
.group {
  width: 66.67%;
  height: 41.67%;
  position: absolute;
  right: 16.67%;
  left: 16.67%;
  bottom: 29.17%;
  top: 29.17%;
  overflow: visible;
}
.destination {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 17px;
  top: 121px;
}
.destination2 {
  color: #410a0c;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
.group2 {
  flex-shrink: 0;
  width: 10px;
  height: 5px;
  position: relative;
  overflow: visible;
}
.near-me {
  color: #410a0c;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 17px;
  top: 182px;
}
.feedback {
  color: #000000;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 18px;
  top: 487px;
}
.food {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 173px;
  position: absolute;
  left: 17px;
  top: 243px;
}
.foods {
  color: #410a0c;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
.dropicon {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: hidden;
}
.group3 {
  width: 41.67%;
  height: 20.83%;
  position: absolute;
  right: 29.17%;
  left: 29.17%;
  bottom: 37.5%;
  top: 41.67%;
  overflow: visible;
}
.map {
  color: #410a0c;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 17px;
  top: 304px;
}
.origin-of-quality {
  color: #410a0c;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 18px;
  top: 365px;
}
.recipes {
  display: flex;
  flex-direction: row;
  gap: 25px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 18px;
  top: 426px;
}
.recipes2 {
  color: #410a0c;
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
.group4 {
  width: 41.67%;
  height: 20.83%;
  position: absolute;
  right: 29.17%;
  left: 29.17%;
  bottom: 37.5%;
  top: 41.67%;
  overflow: visible;
}
